<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
        <title>Anikey's first CRUD</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message"
     role="alert">
    [[${message}]]
    <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>

<div th:if="${games.size() > 0}">
    <table class="table table-hover table-responsive-xl">
        <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Developer</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="game : ${games}">
            <th scope="row">[[${game.id}]]</th>
            <td>[[${game.title}]]</td>
            <td>[[${game.developer}]]</td>
            <td>[[${game.price}]]</td>
            <td>
                <a th:href="@{'/games/' + ${game.id}}" title="Edit this game"
                   class="fa-regular fa-pen-to-square icon-dark"></a>

                <a th:href="@{'/games/delete/' + ${game.id}}" th:gameTitle="${game.title}" id="btnDelete"
                   title="Delete this game" class="fa-regular fa-trash-can icon-dark btn-delete"></a>
            </td>

            <div class="" th:unless="${games.size() > 0}">
                <span>No games found!</span>
            </div>
            
            <div class="modal fade text-center" id="confirmModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Delete Confirmation</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <span id="confirmText"></span>
                        </div>

                        <div class="modal-footer">
                            <a type="button" id="yesBtn" class="btn btn-danger">Yes</a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>



            <script type="text/javascript">
                $(document).ready(function () {
                    $(".btn-delete").on("click", function (e) {
                        e.preventDefault();
                        link = $(this);

                        gameTitle = link.attr("gameTitle");
                        $("#yesBtn").attr("href", link.attr("href"));
                        $("#confirmText").html("Do you want to delete the game \<strong\>" + gameTitle + "\<\/strong\>?");
                        $("#confirmModal").modal();
                    });

                    $("#btnClear").on("click", function (e) {
                        e.preventDefault();
                        $("#keyword").text("");
                        window.location = "[[@{/games}]]";
                    });
                });
            </script>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>

</html>